<div class='container'>
  <div class='main'>
    <h1 style="text-align: center;">Welcome to the Magical Land of the Unicorked!</h1>
    <%= link_to("Pop the Cork", new_wine_path, class: 'btn btn-block btn-xlarge silver-btn', type: 'button')%>
  </div>
</div>
