<div class='container'>
  <h1>Welcome to the Magical Land of the Unicorked!</h1>
  <div class='silver-btn'>
    <%= link_to("Pop the Cork", new_wine_path, class: 'btn btn-block btn-xlarge', type: 'button')%>
  </div>
</div>
