/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Merienda+One);

html, body, .container { 
  height: 100%;
}
html, body {
  background: #575757;
}
.container {
  background: black;
  border: solid #ccc 3px;
  outline: 1px solid #ccc;
  outline-offset: -7px;
}
body > .main { height: auto; min-height: 100%; }
.main { padding-bottom: 4em; }

#footer { 
  clear: both;
  position: relative;
  z-index: 10;
  height: 4em;
  margin-top: -4em;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center; 
}

table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

.navbar {
  margin-bottom: 0px;
  background: linear-gradient(#eeeeee,#ffffff);
}

.silver-btn {
  width: 300px;
  .btn-xlarge {
    padding: 25px 28px;
    font-size: 2em;
    line-height: normal;
    border-radius: 8px;
    background: radial-gradient(#d3d3d3, #4e4e4e);
    border: solid 1px #757575;
    box-shadow: inset 0 10px 15px 0 #9a9a9a;
    color: #555;
    font-family: 'Merienda One', cursive;
  }
  .btn-xlarge:hover {
    background: radial-gradient(#bdbdbd, #4e4e4e);
  }
  .btn-xlarge:active {
    background: linear-gradient(#4e4e4e, #7e7e7e);
    border: solid 1px #757575;
    box-shadow: inset 0 10px 15px 0 #8a8a8a;
    color: #bbb;
  }
  .btn-xlarge:focus {
    outline: none;
  }
}

