#logo{
  img {
    height: 50px;
  }
}

h1, h2, h3, h4, p {
  color: #919d1d;
}

label {
  color: #ccc;
}

.silver-btn {
  margin-right: auto;
  margin-left: auto;
}

.main {
  margin: 100px 100px 0px 100px;
}
